.projectList {
    box-shadow: 0px 20px 50px -15px #e3b18d15;
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    overflow-x: auto; /* Enable horizontal scrolling */
    background: linear-gradient(to bottom, #1e3b8a0c, #f974160e); /* Blue and orange gradient */
    padding: 20px; /* Adjust padding for better spacing */
    border-radius: 20px;
    animation: fadeIn 1s ease-in-out;
    transition: all .35s ease;
    width: max-content; /* Full width for scrolling */
    gap: 20px; /* Add spacing between projects */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Optional border for better visibility */
    scroll-behavior: smooth; /* Smooth scrolling */
    margin: 15px;
}

.project {
    flex: 0 0 auto; /* Prevent shrinking and set fixed width for each project */
    width: 1200px; /* Adjust width as needed */
}
