.project{
    display: flex;
    flex-direction: column;
    background-color: #8b8b8bf1;
    height: fit-content;
    width: fit-content;
    color: black;
    place-content: center;
    text-align: center;
    padding: 0;
    transition: 0.3s;
}

.project:hover{
    cursor: pointer;
    transform: scale(1.025);
    background-color: #8b8b8b;
}

.projectTitle{
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.projectInfo{
    padding: 5px 2rem;
    font-weight: 400;
    color: #00000099;
}

.projectImage{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200;
    object-fit: cover;
}

